<div class="animated fadeIn" style="padding-top: 10px">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Bereavement
          <label style="margin-left:700px;font-size: medium;">Go To </label>
          <input  style="width: 65px;border-radius: 5;font-size: medium;" type="number" max={{totalPages}} name="search"
           [(ngModel)]="page"  autocomplete="off" placeholder="Page No" (ngModelChange)="pageChanged($event)">
            <label style="font-size: medium;">Page: {{totalPages}} </label>
            <label style="font-size: medium;padding-left: 20px;">Total Records: {{totalRecords}} </label>
          <!-- <a style="margin-left:750px;" href="#" (click)="doLogOut()"><i class="fa fa-lock"></i>
            Logout</a> -->
        </div>
        <!-- <div class="card-header" *ngIf="!showSuperAdmin">
          Admin
          <a style="margin-left:780px;" href="#" (click)="doLogOut()"><i class="fa fa-lock"></i> Logout</a>
        </div> -->
        <div>
          <div style="padding: 7px 20px 0 0;width: 100%;height: 100%;">
            <!-- <input style="
                width: 325px;
                margin-left: 20px;
                border-radius: 5;
                color: #405065;
              " type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="search" /> -->
              <form (ngSubmit)="searchUser(searchText)" >
                <input style="width: 325px; margin-left:20px;border-radius: 5;" type="text" name="search"
                [(ngModel)]="searchText"  autocomplete="off" placeholder="Search" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="showClear($event)" >
                <span *ngIf="visibleClear" class="fa fa-close" style="margin-left:-47px" (click)="clearResult()" ></span>
                <button *ngIf="visibleClear" type="submit"  style="margin-left:1px"><i class="fa fa-search"></i></button>
                <button *ngIf="!visibleClear" type="submit"  style="margin-left:-31px"><i class="fa fa-search"></i></button>
                <select style="height: 27px; width: 130px; color: #405065" (change)="dayFilter($event.target.value)"
              [(ngModel)]="selectedValue" [ngModelOptions]="{standalone: true}">
              <option [ngValue]="null" [disabled]="true" hidden>
                Daily Filter
              </option>
              <option *ngFor="let opt of optionItems" [ngValue]="opt.value">
                {{ opt.text }}
              </option>
            </select>
            <input style="width:65px" max="22" type="text" onfocus="(this.type='number')" placeholder="Age"
            [(ngModel)]="age" [ngModelOptions]="{standalone: true}"  (ngModelChange)="searchAge($event)"/>
                <!-- <input type="text"onfocus="(this.type='date')" placeholder="From" id="from"  (change)="dateChanged($event)">
                <input type="text" onfocus="(this.type='date')" placeholder="To" id="to"  (change)="dateChanged($event)"> -->
                <my-date-picker class="my-date-picker"name="mydate1" id="from" placeholder="From" [options]="myDatePickerOptions"
                (dateChanged)="dateChanged($event)" style="margin-bottom: -8px !important;margin-left: 26%;" required></my-date-picker>
                <my-date-picker class="my-date-picker"name="mydate" id="to" placeholder="To" [options]="myDatePickerOptions2"
                (dateChanged)="dateChanged2($event)" style="margin-bottom: -8px !important;" required></my-date-picker>
                <span class="btn-add" style="
                margin-left: 1%;
                margin-bottom: 5px;
                background-color: seagreen;
              " (click)="excelDownload()">Export</span>
          </form>
            <!--
            <span class="btn-add" (click)="addReport()">Add</span> -->
          </div>
          <div class="card-body" style="padding-top: 7px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th >
                    No
                  </th>

                  <th (click)="setOrder('id')"
                  class="mdl-data-table__cell--numeric">Id<span [hidden]="reverse">▼</span
                  ><span [hidden]="!reverse">▲</span></th>
                   <th >
                    Name
                  </th>
                  <!-- <th (click)="order()" style="cursor: pointer">User Id&nbsp;<i *ngIf="!orderFlag" class="fa fa-caret-down"></i><i *ngIf="orderFlag"
                    class="fa fa-caret-up"></i></th> -->
                  <!-- <th>Name</th> -->
                  <th>Age</th>
                  <th>State</th>
                  <th>District</th>
                  <th [class.active]="orderByd === 'school'"
                  (click)="setOrder('list.school')"
                  class="mdl-data-table__cell--non-numeric">School<span [hidden]="alphaSort">▼</span>
                  <span [hidden]="!alphaSort">▲[A-Z]</span></th>
                  <th>Story</th>
                  <th>File</th>
                  <!-- <th>Langitude</th> -->
                  <th *ngIf="!showSuperAdmin">Option</th>
                  <th>Created Date</th>
                </tr>
              </thead>
              <tbody *ngIf="alphaSort">
                <tr *ngFor="
                    let list of dataList | orderBy: 'school' : reverse:true
                        | paginate
                        : {
                            id: 'list_pagination',
                            itemsPerPage: itemPerPage,
                            currentPage: page,
                            totalItems: totalRecords
                          };
                    let i = index
                  ">
                  <td>{{i+1}}</td>
                  <td>{{ list.id }}</td>
                  <td>{{ list.name }}</td>
                  <td>{{ list.age }}</td>
                  <td>{{ list.stateName }}</td>
                  <td>{{list.schoolDistrict}}</td>
                  <td>{{ list.school }}</td>
                  <td style="width: 100px;overflow-wrap: break-word;padding: 1em;">{{ list.story }}</td>
                  <!-- <td><img [src]="(imgPath + list.icon_image)" style="width: 60px;height: 60px;" /></td> -->
                  <td>
                    <div>
                      <span class="fa fa-file fa-options" (click)="fileOpen(list.imageURL)"></span>
                      <!-- &nbsp;&nbsp; -->
                      <!-- <span class="fa fa-trash-o fa-options" (click)="deleteReport(list.id)"></span> -->
                    </div>
                  </td>
                  <td *ngIf="!showSuperAdmin">
                    <div >
                       <span class="fa fa-pencil fa-options" (click)="editBereavement(list)"></span>
                    </div></td>
                  <td>{{ list.createdDateTime | date }}</td>
                  <!-- <td> -->
                  <!-- <span class="fa fa-file fa-options" (click)="fileOpen(list)"></span> -->
                  <!-- <video [src]="(fileUrl + list.fileURL)" height="100" width="50" controls></video> -->
                  <!-- <img [src]="(fileUrl + list.fileURL)" height="50" controls /> -->
                  <!-- <a href="{{ list.fileURL }}">{{ list.fileURL }}</a> -->
                  <!-- </td> -->
                </tr>
              </tbody>
              <tbody *ngIf="!alphaSort">
                <tr *ngFor="
                    let list of dataList
                        | paginate
                        : {
                            id: 'list_pagination',
                            itemsPerPage: itemPerPage,
                            currentPage: page,
                            totalItems: totalRecords
                          };
                    let i = index
                  ">
                  <td>{{i+1}}</td>
                  <td>{{ list.id }}</td>
                  <td>{{ list.name }}</td>
                  <td>{{ list.age }}</td>
                  <td>{{ list.stateName }}</td>
                  <td>{{list.schoolDistrict}}</td>
                  <td>{{ list.school }}</td>
                  <td style="width: 400px;">{{ list.story }}</td>
                  <!-- <td><img [src]="(imgPath + list.icon_image)" style="width: 60px;height: 60px;" /></td> -->
                  <td>
                    <div>
                      <span class="fa fa-file fa-options" (click)="fileOpen(list.imageURL)"></span>
                      <!-- &nbsp;&nbsp; -->
                      <!-- <span class="fa fa-trash-o fa-options" (click)="deleteReport(list.id)"></span> -->
                    </div>
                  </td>
                  <td *ngIf="!showSuperAdmin">
                    <div>
                       <span class="fa fa-pencil fa-options" (click)="editBereavement(list)"></span>
                    </div></td>
                  <td>{{ list.createdDateTime | date }}</td>
                  <!-- <td> -->
                  <!-- <span class="fa fa-file fa-options" (click)="fileOpen(list)"></span> -->
                  <!-- <video [src]="(fileUrl + list.fileURL)" height="100" width="50" controls></video> -->
                  <!-- <img [src]="(fileUrl + list.fileURL)" height="50" controls /> -->
                  <!-- <a href="{{ list.fileURL }}">{{ list.fileURL }}</a> -->
                  <!-- </td> -->
                </tr>
              </tbody>
            </table>
            <h1 *ngIf="showNoRecord" style="margin-left: 340px;">No results found..</h1>
            <!-- <h1 *ngIf="dataList.length===0" style="margin-left: 340px;">No results found..</h1> -->
            <div style="padding: 7px 20px 0 0; margin-left: 120px">
              <!-- <pagination-controls id="list_pagination" maxSize="10" directionLinks="true" (pageChange)="page = $event"
                (pageBoundsCorrection)="page = $event" autoHide="true" responsive="true" previousLabel="Previous"
                nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                screenReaderCurrentLabel="You're on page">
              </pagination-controls> -->
              <pagination-controls id="list_pagination" maxSize="10" directionLinks="true"
              (pageChange)="pageChanged($event)" (pageBoundsCorrection)="page=$event" autoHide="true" responsive="true"
              previousLabel="Previous" nextLabel="Next" screenReaderPaginationLabel="Pagination"
              screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page">
            </pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
