<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <img class="cardd-bb-logo"  src='assets/img/bb-logo2.png' style="width:251px;height:125px;margin-top:20px;margin-bottom:70px;" alt='Bullying Buddy' />
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Password Reset!</h1>
                  <p class="text-muted" *ngIf="isRecaptcha">Enter your Mobile No, with Country Code.</p>
                  <p class="text-muted" for="code" *ngIf="showVerify">Enter Your Verification Code</p>
                  <p class="text-muted" *ngIf="user">Enter your UserName & New Password..</p>
                  <div class="input-group mb-3" *ngIf="isRecaptcha">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fa fa-mobile"></i></span>

                    <div>
                    <input type="text" class="form-control" [(ngModel)]="phoneNumber.country"
                      [ngModelOptions]="{standalone: true}" placeholder="Code" autocomplete="mobileno" style="width:25%;display: inline;" required
                      maxlength="3">
                    <input type="text" [(ngModel)]="phoneNumber.line" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="Mobile No" autocomplete="mobileno" style="width:75%;display: inline;" required>
                    </div> </div>
                  </div>
                  <div>
                    <div id="recaptcha-container"></div>
                  </div>
                  <div class="row" *ngIf="isRecaptcha">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="codeGen()" style="background-color:#0f4d91 !important;display: inline;">Send Code</button>
                      <!-- <button type="button" class="btn btn-primary px-4" (click)="codeGen()" style="background-color:#0f4d91 !important">Cancel</button> -->
                      <!-- <button type="button" class="btn btn-link px-0" (click)="cancel()" style="color:#0f4d91 !important;display: inline;">Cancel</button> -->
                    </div>

                  </div>
                  <!-- for code enterclass="app-body" -->
                  <div class="input-group mb-3" *ngIf="showVerify">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="text" name="code" [(ngModel)]="verificationCode" [ngModelOptions]="{standalone: true}"
                      class="form-control" placeholder="VerificatinCode" autocomplete="current-password" required>
                  </div>
                  <div class="row" *ngIf="showVerify">
                    <div class="col-6">
                      <button type="button" class="btn btn-primary px-4" (click)="verifyLoginCode()" style="background-color:#0f4d91 !important">Verify</button>
                    </div>

                  </div>

                  <!-- Enter New Password -->
                  <div *ngIf="user">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-user"></i></span>
                      </div>
                      <input type="text" [(ngModel)]="username" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="UserName" autocomplete="username" required>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-lock"></i></span>
                      </div>
                      <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}"
                        class="form-control" placeholder="Password" autocomplete="current-password" required>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button type="button" class="btn btn-primary px-4" (click)="resetPassword()" style="background-color:#0f4d91 !important">Comform</button>
                      </div>

                    </div>
                    <!-- <p>success!</p> -->
                  </div>
                </form>
              </div>
            </div>
            <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%;background-color:#0f4d91 !important">
              <div class="card-body text-center" style="margin: 20%;">
                <div>
                  <h2>Bullying Buddy</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
