<div class="animated fadeIn" style="padding-top: 10px;">
  <div class="row">

    <div class="col-lg-10">
      <div class="card">
        <div class="card-header">
          Templates
          <!-- <a style="margin-left:750px;" href="#" (click)="doLogOut()"><i class="fa fa-lock"></i>
            Logout</a> -->
        </div>
        <!-- <div class="card-header" *ngIf="!showSuperAdmin">
          Admin
          <a style="margin-left:780px;" href="#" (click)="doLogOut()"><i class="fa fa-lock"></i> Logout</a>
        </div> -->
        <!-- <div> -->

        <div class="card-body" style="padding-top: 7px;">

          <table class="table table-striped">
            <thead>
              <tr>
                <!-- <th>
                  Template
                  Name
                </th> -->

              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Users</td>
                <td> <span class="btn-add" style="margin-left:10px; margin-bottom:5px;background-color: seagreen"
                    (click)="userExcelDownload()">Excel
                    Download</span></td>
              </tr>
              <tr>
                <td>Teachers</td>
                <td> <span class="btn-add" style=" margin-bottom:5px;background-color: seagreen"
                    (click)="teacherExcelDownload()">Excel
                    Download</span></td>
              </tr>
              <tr>
                <td>BusRoute</td>
                <td> <span class="btn-add" style=" margin-bottom:5px;background-color: seagreen"
                    (click)="busRouteExcelDownload()">Excel
                    Download</span></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>


    </div>
