.modal-header {
    border-radius: 4px 4px 0px 0px;
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
    margin-top: 0px ;
    background-color: red;
    height: 50px;
  }

  .mat-dialog-container {
    padding: 0px !important;
}
.btn-confirm{
  margin: auto;
  padding: 2px;
  border-radius: 3px;
  text-align: center;
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  width: 25%;
}
.btn-confirm:hover{
  color: white;
  cursor : pointer;
}
.btn-no{
  background-color: green;
}
.btn-yes{
  background-color: red;
}